body{
  background-color: hsl(170 24% 20%);
  color: hsl(173 55% 65%);
}

h1, p{
  text-align: center;
  font-family: 'Tahoma';
}

label{
  display: block;
  margin: 2em 0;
}

input, select{
  min-height: 2em;
  background: hsl(170 24% 20%);
  color: hsl(173 55% 65%);
  border: 1px solid hsl(173 55% 65%);
}

input[type="radio"]{
  vertical-align: middle;
  margin-top: -1px;
}

input[type="submit"]:hover{
  background: hsl(173 55% 65%);
  color: hsl(170 24% 20%);
}